@page
@{
    ViewData["Title"] = "Página Inicial";
}

@if (ViewContext.RouteData.Values["page"].ToString() == "/Index")

{
    <div class="hero text-center p-5 mb-4 bg-light rounded shadow-sm">
        <h1 class="display-4">Bem-vindo ao Portal Acadêmico!</h1>
        <p class="lead">Gerencie suas turmas e alunos de forma fácil e rápida.</p>
    </div>
}